body{ margin: 0; }

img { display: block; }

.foreground{

	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 1;

 }

 .ufo-section{

 	background: url('../images/ufo.svg');
 	height: 100%;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: 40% auto;
 	background-attachment: fixed;

 }

 .comet-section{

 	background: url('../images/alien_comet.svg');
 	height: 100%;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: center;
 	background-size: 15% auto;

 }

 .landing-section{

 	background: url('../images/alien_landing.svg');
 	height: 100%;
 	background-repeat: no-repeat;
 	background-size: 15% auto;
 	background-attachment: fixed;
 	background-position: center;
 	position: relative;
 }